In [1]:
import pandas as pd
import nltk as nltk

In [2]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\torin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\torin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk import tokenize

In [4]:
data = pd.read_csv('archivos_csv/reviews_final.csv')

In [21]:
data.head(1)

,user_id,funny,posted,item_id,helpful,recommend,review
0,76561197970982479,NaN,2011-11-05,1250,No ratings yet,True,Simple yet with great replayability. In my opi...

In [13]:
data.duplicated().value_counts()

False    48498
Name: count, dtype: int64

In [21]:
reviews = list(data.review.astype(str))

In [15]:
reviews[0]

'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'

In [22]:
reviews[0]

'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'

In [6]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\torin\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [23]:
clasificacion = []
sid = SentimentIntensityAnalyzer()
# Calcular la clasificación para cada frase en la lista de reviews
for sentence in reviews:
    # Obtener los puntajes de polaridad
    scores = sid.polarity_scores(sentence)
    
    # Obtener el puntaje más alto y su etiqueta asociada
    max_score = max(scores, key=scores.get)
    
    # Asignar un valor a la clasificación según el puntaje más alto. Si hay empate, asigno neutral
    if max_score == 'neg':
        clasificacion.append(0)
    elif max_score == 'neu':
        clasificacion.append(1)
    elif max_score == 'pos':
        clasificacion.append(2)
    else:
        clasificacion.append(1)

# Asignar la lista de clasificación a la nueva columna en el DataFrame 'data'
data['sentiment_analysis'] = clasificacion

In [24]:
data.sentiment_analysis.value_counts()

sentiment_analysis
1    42911
2     4513
0     1074
Name: count, dtype: int64

In [25]:
data.recommend.value_counts()

recommend
True     43557
False     4941
Name: count, dtype: int64

In [26]:
data.drop(columns=['review'], inplace=True)

In [29]:
data.head()

,user_id,funny,posted,item_id,helpful,recommend,sentiment_analysis
0,76561197970982479,NaN,2011,1250,No ratings yet,True,1
1,76561197970982479,NaN,2011,22200,No ratings yet,True,1
2,76561197970982479,NaN,2011,43110,No ratings yet,True,1
3,js41637,NaN,2014,251610,15 of 20 people (75%) found this review helpful,True,1
4,js41637,NaN,2013,227300,0 of 1 people (0%) found this review helpful,True,1

In [31]:
data.to_csv('archivos_csv/reviews_sentiment_analysis.csv', index=False)